<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="http://api.nuget.org/v3/index.json" />
    <add key="iconviet.io" value="http://teamcity.iconviet.io/guestAuth/app/nuget/feed/_Root/iconviet/v3/index.json" />
  </packageSources>
</configuration>