@page "/"
@inherits PageBase<DashboardPageModel>
<h1>
    <img width="64" src="static/img/gl-icon-home-96.png" /> Welcome to ICON CPS.
    <div style="padding: 10px; background-color: #f9edff;" class="d-inline-flex rounded-circle"><i class="fas fag fa-cog"></i></div>
</h1>