@page "/proposals/{state}"
@inherits PageBase<ProposalListPageModel>

<h1 class="font-weight-bold">
    <img width="48" src="static/img/gl-icon-report-card-96.png" />
    @State.ToTitleCase() Proposals
</h1>
<SfGrid TValue="Proposal"
        EnableHover="true"
        EnableAltRow="true"
        AllowSelection="false"
        GridLines="GridLine.Horizontal"
        DataSource="ViewModel.Proposals">
    <GridColumns>
        <GridColumn Field="@nameof(Proposal.Title)" HeaderText="Title"></GridColumn>
        <GridColumn Field="@nameof(Proposal.IcxRequested)" Format="N4" Width="120" HeaderText="ICX" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Field="@nameof(Proposal.UsdRequested)" Format="C2" Width="120" HeaderText="USD" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right"></GridColumn>
        <GridColumn Width="78" HeaderText="Since" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right"></GridColumn>
    </GridColumns>
</SfGrid>

@code {

    [Parameter]
    public string State { get; set; }

}
