@page "/sponsors"
@inherits PageBase<SponsorListPageModel>
<h1 class="font-weight-bold">Sponsors</h1>
<p>Count: @ViewModel.Count</p>
<span class="fao mr-3"><i class="fas fag fa-cog"></i></span>
<button class="btn btn-primary" @onclick="() => ViewModel.Increment.Execute()">Click me</button>