@inject SyncfusionBlazorService SyncfusionBlazorService
<a role="button" class="button primary" @onclick="() => CreateProposalDialog.Show()">
    Add Liquidity<i class="fal pl-2 fa-plus"></i>
</a>
<SfDialog Width="640"
          Height="480"
          IsModal="true"
          Visible="false"
          ShowCloseIcon="true"
          @ref="CreateProposalDialog">
    <DialogEvents OnOverlayClick="() => CreateProposalDialog.Hide()" />
    <DialogTemplates>
        <Content>
            <div class="d-flex">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nunc eget orci commodo vehicula. Nulla laoreet, lectus ac cursus aliquam, lorem massa scelerisque odio, nec tempor sapien lectus non nisi. Curabitur eleifend maximus orci quis ultrices. Fusce tincidunt mollis fermentum. Etiam feugiat tincidunt urna, vitae vulputate erat dictum pharetra. Cras at ultricies diam. Mauris tristique felis est, ac consectetur elit tincidunt aliquam. Nulla sagittis elit volutpat facilisis placerat. Nulla volutpat, tellus id tempus mattis, quam leo semper velit, id interdum dolor arcu eu erat. Quisque vel rhoncus velit. Praesent sagittis eget lectus nec dignissim. Pellentesque eu nibh sit amet augue lacinia finibus id id nibh.
            </div>
            <div class="d-flex">
                <a role="button" class="button primary" @onclick="() => CreateProposalDialog.Hide()">
                    Cancel
                </a>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>
@code {
    protected bool IsMobile;
    
    protected SfDialog CreateProposalDialog;

    protected override async Task OnInitializedAsync()
    {
        IsMobile = await SyncfusionBlazorService.IsDevice();
    }
}