@page "/"
@page "/swap"
@inherits PageBase<HomePageModel>

<MudContainer MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="6" sm="6" md="3">
            <QuickSwapView />
        </MudItem>
        <MudItem xs="6" sm="6" md="9">
            <PoolListView />
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

    protected override void OnInitialized()
    {
        Log.Information("HomePage initialized");
    }

}
<!-- <span class="fao" style="padding: 2rem;"><img src="/static/img/gl-icon-create-order-96.png" class="fag" /></span> -->