@page "/pool-list"
@inherits PageBase<PoolListPageModel>
<h1 class="font-weight-bold">Pools</h1>
<p>Count: @ViewModel.Count</p>
<span class="fao mr-3">
    <i class="fas fag fa-cog"></i>
</span>
<input @bind="@ViewModel.Count" />
<button class="btn btn-primary" @onclick="() => ViewModel.Increment.Execute()">Click me now!</button>