body {
    color: #4c4a57;
    font-family: 'Lato';
}

h3 {
    margin: 0 auto;
    color: #1b1a21;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    font-family: 'Lato';
}

h4 {
    margin: 0 auto;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Lato';
}

.main {
    overflow: hidden;
    flex-flow: column;
}

.main .menubar {
    display: flex;
    height: 3.75rem;
    padding: 0 2rem;
    align-items: center;
    background-color: #1b1a21;
    justify-content: space-between;
}

    .main .menubar .button.primary {
        padding: 0.650em 1.25em;
    }
    
    .main .menubar .button.secondary {
        padding: 0.525em 1.125em;
    }

.wrapper {
    display: flex;
}

.sidebar {
    min-width: 220px;
    max-width: 220px;
    min-height: 100vh;
    padding-top: 1rem;
    background-color: #fafafa;
    border-right: 1px solid #e6e5ea;
}

    .sidebar .fal,
    .sidebar .fas,
    .sidebar .fad {
        width: 2rem;
        font-size: 1rem;
        color: rgb(197, 80, 255);
        vertical-align: text-top;
    }

    .sidebar > ul > li {
        padding-bottom: 1rem;
    }

    .sidebar .nav-group {
        font-weight: 900;
        font-size: 0.7rem;
        padding: 1rem 1rem 0.5rem 2rem;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
    }

        .sidebar .nav-item a {
            display: flex;
            color: #1b1a21;
            height: 2.5rem;
            border-radius: 4px;
            align-items: center;
        }

            .sidebar .nav-item a i {
                padding-top: 2px;
            }

            .sidebar .nav-item a:hover {
                color: #8800cc;
            }

            .sidebar .nav-item a.active {
                color: white;
                background: linear-gradient(110deg,#f0f -44%,#1e0a78 157%);
            }

            .sidebar .nav-item a.active i {
                color: white !important;
            }

.content {
    padding: 2rem;
    background-color: transparent;
}

.breadcrumb {
    height: 3.75rem;
    padding: 0 1rem;
    margin-bottom: 0;
    border-radius: 0;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid #e6e5ea;
}

.primary {
    color: #8800cc;
}

.secondary {
    color: #888888;
}

.button {
    outline: none;
    line-height: 1;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    transition: .15s ease-in-out;
}

    .button.secondary {
        color: #8800cc;
        background: transparent;
        padding: 0.625em 1.125em;
        border: 0.125em solid #80c;
    }

        .button.secondary.inverted {
            color: #fff;
            border-color: #fff;
        }

        a.button.primary:hover {
            color: white !important;
            background: linear-gradient(60deg,#f0f -44%,#1e0a78 157%);
        }

        a.button.secondary:hover {
            background-color: #ffffff26;
        }

        .button.primary {
            color: white;
            border: none;
            padding: 0.75em 1.25em;
            background: linear-gradient(120deg,#f0f -44%,#1e0a78 157%);
        }

.fao {
    padding: 1rem;
    display: inline-flex;
    background-color: #f9edff;
    border-radius: 50% !important;
}

.fag {
    background: -webkit-gradient(linear, left top, left bottom, from(#ad1cfe), to(#057dd8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}