@inherits LayoutComponentBase

<div class="main">
    <div class="menubar">
        <MainMenubar />
    </div>
    <div class="wrapper">
        <div class="sidebar">
            <MainSidebar />
        </div>
        <div style="flex: 1;">
            <div class="breadcrumb">
                <span class="font-weight-bold">Dashboard</span>
            </div>
            <div class="content">
                @Body
            </div>
        </div>
    </div>
</div>