<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Contribution Proposal</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link font-weight-bold" href="" Match="NavLinkMatch.All">
                <i class="fad fa-list-alt" aria-hidden="true"></i> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link font-weight-bold" href="proposals">
                <i class="fad fa-th-list" aria-hidden="true"></i> Proposals
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link font-weight-bold" href="sponsors">
                <i class="fad fa-people-arrows" aria-hidden="true"></i> Sponsors
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
