html,
body {
    height: 100%;
    color: #4c4a57;
    font-family: 'Inter';
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main {
    overflow: hidden;
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

    .main::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: ' ';
        opacity: 0.15;
        position: absolute;
        background-size: cover;
        background-image: url(img/logo.png);
    }

.main .appbar {
    background-color: transparent;
}

.drawer {
    padding: 0 1rem;
    background-color: #fafafa;
}
    .drawer .header {
        margin: 1rem;
        align-items: center;
    }

    .drawer .mud-nav-item {
        margin: 5px 0;
        border-radius: 5px;
    }

    .drawer .mud-nav-link-text {
        font-weight: 500;
        font-size: 0.9rem;
    }

    .drawer .fal,
    .drawer .fas,
    .drawer .fad {
        width: 1.6rem;
        font-size: 1.25rem;
        vertical-align: text-top;
        color: var(--mud-palette-primary);
    }


.mud-card.shaded {
    background-color: rgb(250, 252, 255);
}

.mud-paper {
    border-radius: 5px;
}

.mud-card-header {
    padding: 24px 24px;
}

.mud-card-content {
    padding: 12px 24px 24px 24px;
}

.mud-card-actions {
    padding: 24px 24px;
}

.mud-skeleton {
    background-color: rgba(0, 0, 0, .05);
}

.mud-input-control.large .mud-input-slot {
    font-size: 20px;
    font-weight: 700;
}

.mud-input-control > div.mud-input.mud-input-text {
    margin-top: 0;
}

.mud-input-control.mud-select.large .mud-input-slot {
    font-size: 16px;
    font-weight: 600;
}

.mud-table-root .mud-table-head .mud-table-cell {
    font-size: 12px;
    font-weight: 500;
    padding: 12px 12px;
    color: rgb(124, 132, 151);
    border-bottom: 1px solid #f1f2f3;
}

.mud-table-root .mud-table-body .mud-table-cell {
    line-height: 28px;
    border-bottom: 1px solid #f1f2f3;
}

.mud-table-root .mud-table-head .mud-table-cell:first-child,
.mud-table-root .mud-table-body .mud-table-cell:first-child {
        padding-left: 0;
    }

.mud-table-root .mud-table-head .mud-table-cell:last-child,
.mud-table-root .mud-table-body .mud-table-cell:last-child {
        padding-right: 0;
    }

    .fao {
        padding: 1rem;
        display: inline-flex;
        background-color: #f9edff;
        border-radius: 50% !important;
    }

.fag {
    background: -webkit-gradient(linear, left top, left bottom, from(#ad1cfe), to(#057dd8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}