@page "/"
@inherits ViewBase<IndexModel>
<h1>
    Block Height: @ViewModel.BlockHeight
</h1>

<img width="64" src="static/img/gl-icon-home-96.png" /> Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />