@page "/sponsors"
@inherits ViewBase<SponsorListModel>
<h1 class="font-weight-bold">Sponsors</h1>
<p>Count: @ViewModel.Count</p>
<button class="btn btn-primary" @onclick="() => ViewModel.Increment.Execute()">Click me</button>