@page "/"
@namespace Icon_Cps.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <title>ICON Contribution Proposal System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link async href="static/lib/bundle.min.css" rel="stylesheet" />
    <link async href="static/app.min.css?v=0.0.0.0" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<Client.App>(RenderMode.ServerPrerendered))
    </app>
    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a class="dismiss">🗙</a>
    </div>
    <script src="static/lib/bundle.min.js" type="text/javascript"></script>
    <script async src="static/app.min.js?v=0.0.0.0" type="text/javascript"></script>
    <script async id="mode" type="text/javascript"></script>
    <script async type="text/javascript">
        document.getElementById('mode').src = window.location.search.includes('wasm') ? '_framework/blazor.webassembly.js' : '_framework/blazor.server.js';
    </script>
    </body>
</html>