@inherits LayoutComponentBase
@inject IconexWallet IconexWallet

<div class="main">
    <div class="top-row">
        <a href="/">
            <img src="https://www.memsql.com/images/components/navbar/logo_docs.svg">
        </a>
        <div class="d-inline-flex align-items-end">
            <a role="button" class="button primary" @onclick="() => IconexWallet.RequestAddressAsync()">
                Register<i class="fas pl-3 fa-arrow-right"></i>
            </a>
            <a role="button" class="ml-3 button secondary inverted" @onclick="() => IconexWallet.RequestAddressAsync()">
                <i class="fas pr-3 fa-wallet"></i>Sign In
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div class="sidebar">
            <MainSidebar />
        </div>
        <div class="content">
            @Body
        </div>
    </div>
</div>