@inherits LayoutComponentBase
@inject IconexWallet IconexWallet

<div class="main">
    <div class="top-row px-4">
        <a href="/">
            <img src="https://www.memsql.com/images/components/navbar/logo_docs.svg">
        </a>
        <div class="d-inline-flex align-items-end">
            <a role="button" class="button primary" @onclick="() => IconexWallet.RequestAddressAsync()">
                &nbsp;&nbsp;Register&nbsp;&nbsp;
            </a>
            <a role="button" class="ml-3 button secondary inverted" @onclick="() => IconexWallet.RequestAddressAsync()">
                Sign In <i class="fas pl-1 fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div class="sidebar">
            <MainSidebar />
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>