<ul class="nav flex-column">
    <li>
        <ul class="nav flex-column px-3">
            <li class="nav-item">
                <NavLink class="nav-link" href="proposals/pending" Match="NavLinkMatch.All">
                    <i class="fal fag fa-list-alt" aria-hidden="true"></i>
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="proposals/active">
                    <i class="fal fag fa-th-list" aria-hidden="true"></i>
                    Dashboard
                </NavLink>
            </li>
        </ul>
    </li>
    <li>
        <div class="nav-group">APPLICATION</div>
        <ul class="nav flex-column px-3">
            <li class="nav-item">
                <NavLink class="nav-link" href="proposals/pending" Match="NavLinkMatch.All">
                    <i class="fal fag fa-list-alt" aria-hidden="true"></i>
                    Pending
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="proposals/active">
                    <i class="fal fag fa-th-list" aria-hidden="true"></i>
                    Active                        
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="proposals/rejected">
                    <i class="fal fag fa-people-arrows" aria-hidden="true"></i>
                    Rejected
                </NavLink>
            </li>
        </ul>
    </li>
    <li>
        <div class="nav-group">VOTING</div>
        <ul class="nav flex-column px-3">
            <li class="nav-item">
                <NavLink class="nav-link" href="proposals/pending" Match="NavLinkMatch.All">
                    <i class="fal fag fa-list-alt" aria-hidden="true"></i>
                    Pending
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="proposals/active">
                    <i class="fal fag fa-th-list" aria-hidden="true"></i>
                    Active                        
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="proposals/rejected">
                    <i class="fal fag fa-people-arrows" aria-hidden="true"></i>
                    Rejected
                </NavLink>
            </li>
        </ul>
    </li>
    <li>
        <div class="nav-group">REPORTING</div>
        <ul class="nav flex-column px-3">
            <li class="nav-item">
                <NavLink class="nav-link" href="/1">
                    <i class="fal fag fa-list-alt" aria-hidden="true"></i> Active Report
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/2">
                    <i class="fal fag fa-th-list" aria-hidden="true"></i> Budget Request
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/3">
                    <i class="fal fag fa-people-arrows" aria-hidden="true"></i> Disqualifed
                </NavLink>
            </li>
        </ul>
    </li>
</ul>