<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img width="96" src="static/img/gl-icon-blockchain-512.png" />
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li>
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="proposals/pending" Match="NavLinkMatch.All">
                        <i class="fas fag fa-list-alt" aria-hidden="true"></i> Pending (45)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="proposals/active">
                        <i class="fas fag fa-th-list" aria-hidden="true"></i> Active (8)
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="proposals/rejected">
                        <i class="fas fag fa-people-arrows" aria-hidden="true"></i> Rejected (2)
                    </NavLink>
                </li>
            </ul>
        </li>
        <li>
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/1">
                        <i class="fal fag fa-list-alt" aria-hidden="true"></i> Menu 1
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/2">
                        <i class="fal fa-th-list" aria-hidden="true"></i> Menu 2
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/3">
                        <i class="fal fa-people-arrows" aria-hidden="true"></i> Menu 3
                    </NavLink>
                </li>
            </ul>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
