@inherits LayoutComponentBase
@inject IconexWallet IconexWallet

<div class="main">
    <div class="menubar">
        <a href="/">
            <img src="https://www.memsql.com/images/components/navbar/logo_docs.svg">
        </a>
        <div class="d-inline-flex align-items-end">
            <a role="button" class="button primary" @onclick="() => IconexWallet.RequestAddressAsync()">
                Register<i class="fad pl-2 fa-arrow-right"></i>
            </a>
            <a role="button" class="ml-3 button secondary inverted" @onclick="() => IconexWallet.RequestAddressAsync()">
                <i class="fad pr-2 fa-user-circle"></i>Sign In
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div class="sidebar">
            <MainSidebar />
        </div>
        <div style="flex: 1;">
            <div class="breadcrumb">
                <span class="font-weight-bold">Dashboard</span>
            </div>
            <div class="content">
                @Body
            </div>
        </div>
    </div>
</div>